power-automate/CartCureEmailOrganiser_20260123222647/Microsoft.Flow/flows/c0c5e795-cb87-4a4b-9f61-cdaf75f85fd9/definition.json
{
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "$connections": {
            "defaultValue": {},
            "type": "Object"
        }
    },
    "triggers": {
        "When_a_new_email_arrives": {
            "type": "ApiConnectionNotification",
            "inputs": {
                "host": {
                    "connection": {
                        "name": "@parameters('$connections')['office365']['connectionId']"
                    }
                },
                "fetch": {
                    "method": "get",
                    "pathTemplate": {
                        "template": "/v2/Mail/OnNewEmail"
                    },
                    "queries": {
                        "folderPath": "Inbox",
                        "importance": "Any",
                        "fetchOnlyWithAttachment": false,
                        "includeAttachments": false
                    }
                },
                "subscribe": {
                    "method": "post",
                    "pathTemplate": {
                        "template": "/GraphMailSubscriptionPoke/$subscriptions"
                    },
                    "queries": {
                        "folderPath": "Inbox"
                    }
                }
            },
            "splitOn": "@triggerBody()?['value']"
        }
    },
    "actions": {
        "Check_if_subject_contains_job_tag": {
            "type": "Condition",
            "expression": {
                "and": [
                    {
                        "contains": [
                            "@triggerBody()?['subject']",
                            "(J-"
                        ]
                    }
                ]
            },
            "actions": {
                "Extract_job_number": {
                    "type": "Compose",
                    "inputs": "@first(split(split(triggerBody()?['subject'], '(J-')[1], ')'))"
                },
                "Get_Client_Email": {
                    "type": "Compose",
                    "inputs": "@first(triggerBody()?['toRecipients'])?['emailAddress']?['address']",
                    "runAfter": {
                        "Extract_job_number": [
                            "Succeeded"
                        ]
                    }
                },
                "Build_Folder_Path": {
                    "type": "Compose",
                    "inputs": "Clients/@{outputs('Get_Client_Email')}/J-@{outputs('Extract_job_number')}",
                    "runAfter": {
                        "Get_Client_Email": [
                            "Succeeded"
                        ]
                    }
                },
                "Check_if_Folder_Exists": {
                    "type": "ApiConnection",
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['office365']['connectionId']"
                            }
                        },
                        "method": "get",
                        "path": "/v2/Mail/GetFolder",
                        "queries": {
                            "folderId": "@outputs('Build_Folder_Path')"
                        }
                    },
                    "runAfter": {
                        "Build_Folder_Path": [
                            "Succeeded"
                        ]
                    }
                },
                "Create_Folder_if_Missing": {
                    "type": "Condition",
                    "expression": {
                        "and": [
                            {
                                "equals": [
                                    "@outputs('Check_if_Folder_Exists')?['statusCode']",
                                    404
                                ]
                            }
                        ]
                    },
                    "actions": {
                        "Create_Folder": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail/CreateFolder",
                                "body": {
                                    "FolderPath": "@outputs('Build_Folder_Path')"
                                }
                            }
                        }
                    },
                    "runAfter": {
                        "Check_if_Folder_Exists": [
                            "Succeeded",
                            "Failed"
                        ]
                    }
                },
                "Move_Email": {
                    "type": "ApiConnection",
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['office365']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/v2/Mail/Move/@{encodeURIComponent(triggerBody()?['id'])}",
                        "body": {
                            "DestinationFolderId": "@outputs('Build_Folder_Path')"
                        }
                    },
                    "runAfter": {
                        "Create_Folder_if_Missing": [
                            "Succeeded"
                        ]
                    }
                }
            }
        }
    }
}